@import-normalize;

@font-face {
  font-family: 'DMSansRegular';
  font-style: normal;
  font-weight: 400;
  src: local('DMSansRegular'),
    url(./fonts/DMSans/DMSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'DMSansMedium';
  font-style: normal;
  font-weight: 500;
  src: local('DMSansMedium'),
    url(./fonts/DMSans/DMSans-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsLight';
  font-style: normal;
  font-weight: 300;
  src: local('PoppinsLight'),
    url(./fonts/Poppins/Poppins-Light.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsRegular';
  font-style: normal;
  font-weight: 400;
  src: local('PoppinsRegular'),
    url(./fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsMedium';
  font-style: normal;
  font-weight: 500;
  src: local('PoppinsMedium'),
    url(./fonts/Poppins/Poppins-Medium.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsSemibold';
  font-style: normal;
  font-weight: 600;
  src: local('PoppinsSemibold'),
    url(./fonts/Poppins/Poppins-SemiBold.ttf) format('truetype');
}

@font-face {
  font-family: 'PoppinsBold';
  font-style: normal;
  font-weight: 700;
  src: local('PoppinsBold'),
    url(./fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

:root {
  /* Fonts */
  --primary-light: 'PoppinsLight', sans-serif;
  --primary-regular: 'PoppinsRegular', sans-serif;
  --primary-medium: 'PoppinsMedium', sans-serif;
  --primary-semibold: 'PoppinsSemibold', sans-serif;
  --primary-bold: 'PoppinsBold', sans-serif;

  --secondary-regular: 'DMSansRegular', sans-serif;
  --secondary-medium: 'DMSansMedium', sans-serif;

  /* Colors */
  --dark-mode-color: #191919;
  --nav-subtitle-color: #A7A7A7;
  --greeting-color: #D9D9D9;
  --title-color: #CCCCCC;
  --white-color: #FFFFFF;
  --nav-hover-color: #FF4500;
}

body {
  margin: 0;
  font-family: 'PoppinsLight', 'PoppinsRegular', 'PoppinsMedium', 'PoppinsSemibold', 'PoppinsBold', 'DMSansRegular', 'DMSansMedium',
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  user-select: none;
  background-color: var(--dark-mode-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  box-sizing: border-box;
}

/* *,
*::before,
*::after {
  box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}